// @use is not working in Zola:
@import "reset";

.debug {
    border: solid red 1px;
}

// -------------------------------------- MIXINS
@mixin links ($color, $size) {
    &,
    &:visited,
    &:hover,
    &:active,
    &:focus {
        color: $color;
        font-size: $size;
        text-decoration: none;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
    }
}

// -------------------------------------- BASE
html {
    background-color: $dominant;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    line-height: 1.5;
    color: $mostly_white;
    font-family: Helvetica, "Helvetica Neue", FreeSans, "TeX Gyre Heros", "Nimbus Sans", sans-serif;
    min-height: 100vh;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0px;
}

#partition_left {
    padding: 1em;
    flex-basis: content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        flex-grow: 1;
        img {
            margin-bottom: 3em;
        }
        #menu {
            flex-grow: 1;
            border-right: solid 1px $discreet_light;
            padding-right: 0.5em;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                color: white;
                font-weight: bold;
                text-align: right;
            }
            a,
            a:hover,
            a:link,
            a:visited,
            a:active {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.style_dot {
    margin-top: 1em;
    height: 1em;
    width: 1em;
    background-color: $another_style;
    border-radius: 50%;
    display: inline-block;
}


#partition_right {
    max-width: 70vw;
    padding: 3em 0 1em 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    gap: 0px;
    h2,
    h3 {
        margin-bottom: 1.5em;
    }
    pre {
        padding: 0.5em;
        overflow-x: scroll;
    }
}

.content {
    background-color: $dominant;
    padding: 1.5em 1em 1.5em 1.5em;
    p {
        margin-top: 1em;
        & + h3 {
            margin-top: 1.5em;
        }
    }
    a {
        @include links(inherit, inherit);
    }
    .footnote {
        font-size: 0.75rem;
        color: $discreet_light;
        a {
            @include links(inherit, inherit)
        }
    }
}

figure {
    margin-bottom: 1em;
    display: inline-block;
    img {
        max-width: 100%;
    }
    figcaption {
        color: $accent;
        font-size: small;
        text-align: center;
        margin-top: 0.5em;
    }
}

footer {
    padding-bottom: 2em;
    position: relative;
    p {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        color: $discreet_light;
    }
}

// -------------------------------------- SPECIFIC

/* Showcase grid */

.grid {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    margin-bottom: 1em;
    gap: 1em;
    .thumb {
        background-color: $discreet-dark;
        max-width: 30%;
        flex-grow: 1;
        figure {
            width: 100%;
            margin: 0;
            padding: 1em;
            box-sizing:border-box;
            img {
                width: 100%;
                filter: grayscale(1);
                &:hover {
                    filter: grayscale(0);
                }
            }
            figcaption {
                color: $discreet_light;
                margin-top: 1em;
            }
        }
    }
}

/* Others */

.blog_entry {
    margin-bottom: 1em;
    .entry_info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .date {
            color: $accent;
        }
        .taxo {
            color: $discreet_dark;
            a {
                @include links($discreet_dark, inherited);
            }
        }
    }
    .title {
        font-weight: bold;
        a {
            @include links(white, inherited)
        }
    }
    .summary {
        font-style: italic;
        line-height: 100%;
        padding-left: 1em;
        color: $mostly_white;
    }
}

.post_info {
    width: 100%;
    margin-bottom: 1em;
    table {
        margin-left: auto;
        margin-right: 0;
        border-spacing: 0;
        td {
            padding: 0;
            &:nth-child(odd) {
                color: $discreet_dark;
                padding-right: 1em;
            }
            &:nth-child(even) {
                color: $discreet_light;
            }
        }
    }
}

.taxo_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .taxo_list {
        h3 {
            margin-bottom: 1em !important;
        }
        flex-grow: 1;
        ul {
            list-style: none;
            padding-left: 0;
            margin-top: 0;
        }
        .count {
            color: $accent;
        }
    }
}

.taxo_list {
    .count {
        color: $accent;
    }
}

.splash {
    display: block;
    li {
        a,
        a:hover,
        a:link,
        a:visited,
        a:active {
            color: $accent;
            text-decoration: none;
        }
    }
}