// -------------------------------------- VARIABLES
$dominant: #586e77;
$accent: #ffa600;
$accent_contrast: lighten($accent, 40%);
$mostly_white: lighten($dominant, 90%);
$discreet_dark: darken($dominant, 15%);
$discreet_light: lighten($dominant, 20%);
$another_style: #b47b78;

// -------------------------------------- BASE
html {
    background-image: url("/bg.gif");
}


// @use is not working in Zola:
@import "style";