// -------------------------------------- VARIABLES
$dominant: #b47b78;
$accent: #04395e;
$accent_contrast: lighten($accent, 40%);
$mostly_white: lighten($dominant, 90%);
$discreet_dark: darken($dominant, 15%);
$discreet_light: lighten($dominant, 20%);
$another_style: #586e77;

// -------------------------------------- BASE
html {
    background-image: url("/bg3.gif");
}


// @use is not working in Zola:
@import "style";