{% extends "base.html" %}

{% block title %}
    <title>Tags</title>
{% endblock %}

{% block content %}
<h2>Tags</h2>

<ul class="taxo_list">
    {% for term in terms %}
        <li>
            <a href="{{ term.permalink }}">{{ term.name }}</a>
            <span class="count">
                {{ term.pages | length }}
            </span>
        </li>
    {% endfor %}
</ul>
{% endblock content %}