{% extends "base.html" %}

{% block title %}
<title>{{ term.name }} | {{ config.title }}</title>
{% endblock %}

{% block content %}
<h2>
    <a href="/tags">
        Tags
    </a>
    ⯈ {{ term.name }}
</h2>

{% for page in term.pages %}
    <section class="blog_entry">
        <div class="entry_info">
        {% if page.year != 1970 %}
            <div class="date">
                <time>
                    {{ page.day }}.{{ page.month }}.{{ page.year }}
                </time>
            </div>
        {% endif %}
        </div>
        <div class="archive_title">
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </div>
    </section>
{% endfor %}

{% endblock content %}
