{% extends "base.html" %}

{% block title %}
<title>{{ term.name }} | {{ config.title }}</title>
{% endblock %}

{% block content %}
<h2>
    <a href="/showcase">
        Showcase
    </a>
    ⯈ {{ term.name }}
</h2>

<div class = "grid">
    {% for page in term.pages %}
        <div class="thumb">
            <a href="{{ page.permalink }}">
                <figure>
                    <img src="{{ page.permalink }}{{ page.extra.thumb }}">
                    <figcaption>
                        {{ page.title }}
                    </figcaption>
                </figure>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock content %}
