{% extends "base.html" %}

{% block content %}

<h2>
  Archives
</h2>

<section class="taxo_section">
    <div class="taxo_list">
        <h3>Categories</h3>
        <ul> 
            {% set categories = get_taxonomy(kind="categories") %}
            {% for term in categories.items %}
                <li>
                    <a href="{{ term.permalink }}">
                        {{ term.name }}
                    </a>
                    <span class="count">
                        {{ term.pages | length }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="taxo_list">
        <h3>Tags</h3>
        <ul>
            {% set tags = get_taxonomy(kind="tags") %}
            {% for term in tags.items %}
                <li>
                    <a href="{{ term.permalink }}">
                        {{ term.name }}
                    </a>
                    <span class="count">
                        {{ term.pages | length }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="taxo_list">
    <h3>Types</h3>
    <ul>
        {% set types = get_taxonomy(kind="types") %}
        {% for term in types.items %}
            <li>
                <a href="{{ term.permalink }}">
                    {{ term.name }}
                </a>
                <span class="count">
                    {{ term.pages | length }}
                </span>
            </li>
        {% endfor %}
    </ul>
    </div>
</section>

{% set section = get_section(path="blog/_index.md") %}
{% for year, posts in section.pages | group_by(attribute="year") %}
    <h3>
        <time>
            {% if year == 1970 %} 
                Older
            {% else %} 
                {{ year }}
            {% endif %}
        </time>
    </h3>

    {% for post in posts %}
        <section class="blog_entry">
            <div class="entry_info">
                <div class="date">
                    <time>
                        {{ post.day}}.{{ post.month }}.{{ post.year }}
                    </time>
                </div>
            </div>
            <div class="title">
                <a href="{{ post.permalink }}">{{ post.title }}</a>
            </div>
            <div class="entry_info">
                <div class="taxo">
                    {% if post.taxonomies.categories %}
                        {% for category in post.taxonomies.categories %}
                            &emsp;<a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>:
                        {% endfor %}
                    {% endif %}
                    {% if post.taxonomies.tags %}
                        {% for tag in post.taxonomies.tags %}
                            &emsp;<a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
    {% endfor %}
    
{% endfor %}

{% endblock content %}
