<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>
            {{ config.title }}
            {% if section.title %}
                - {{ section.title }}
            {% endif %}
            {% if page.title %}
                - {{ page.title }}
            {% endif %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/lonerlogo.svg">
        <link id="styles" rel="stylesheet" type="text/css" href="">
        <script type="text/javascript" src="/js/styleswitch.js"></script>
        <script type="text/javascript">
            function setCookieStyle() {
                var cookies = document.cookie;
                // https://stackoverflow.com/a/25490531
                var sheet = document.cookie.match('(^|;)\\s*buendia_style\\s*=\\s*([^;]+)')?.pop() || '';
                if (sheet) {
                    document.getElementById("styles").setAttribute("href", sheet);
                } else {
                    document.getElementById("styles").setAttribute("href", "/cold.css");
                }
            }
        </script>
        <noscript>
            <link id="styles" rel="stylesheet" type="text/css" href="cold.css">
        </noscript>
    </head>

    <body onload="setCookieStyle()">
        <div id="partition_left">
            <header>
                <a href="/">
                    <img
                        src="{{ config.base_url | safe }}{{ config.extra.coldday_logo | safe}}"
                        width="{{ config.extra.coldday_logosize }}" height=auto>
                </a>
                <div id="menu">
                    <ul>
                        <li><a href="/showcase">showcase</a></li>
                        <li><a href="/blog">blog</a></li>
                        <li><a href="/archives">archives</a></li>
                        <li><a href="/about">about</a></li>
                        <li>
                            <a href="javascript:switchStyles()">
                                <span class="style_dot"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
        </div>

        <div id="partition_right">
            <div class="content">
                {% block content %} {% endblock %}
            </div>

            <footer>
                <p>&copy; {{ config.extra.coldday_author }}</p>
            </footer>
        </div>
    </body>

</html>