{% extends "base.html" %}

{% block content %}

<h2>Latest posts</h2>

{% set section = get_section(path="blog/_index.md") %}
{% for post in section.pages %}
    {% if loop.index0 == config.extra.coldday_maxposts %}{% break %}{% endif %}
        <section class="blog_entry">
            <div class="entry_info">
                <div class="date">
                    <time>
                        {{ post.day}}.{{ post.month }}.{{ post.year }}
                    </time>
                </div>
                <div class="taxo">
                    {% if post.taxonomies.categories %}
                        {% for category in post.taxonomies.categories %}
                            <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>:
                        {% endfor %}
                    {% endif %}
                    {% if post.taxonomies.tags %}
                        {% for tag in post.taxonomies.tags %}
                            <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="title">
                <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
            </div>
            <div class="summary">
                {{ post.summary | striptags | safe }}
            </div>  
        </section>
{% endfor %}

<p class="footnote">
  [<a href="/archive.html">archive</a>]
</p>

{% endblock content %}
