{% extends "base.html" %}

{% block content %}

<h2>{{ page.title }}</h2>

<div class="post_info">
    
    <table>
        {% if page.year != 1970 %}
            <tr>
                <td>Date</td>
                <td class="date_postpage">
                    <time>{{ page.date }}</time>
                </td>
            </tr>
        {% endif %}
        {% if page.updated %} 
            <tr>
                <td>Updated</td>
                <td class="date_postpage">
                    <time>{{ page.updated }}</time>
                </td>
            </tr>
        {% endif %}
        {% if page.taxonomies.categories %}
            <tr>
                <td>Categories</td>
                <td>
                    {% for category in page.taxonomies.categories %}
                        <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
                     {% endfor %}
                </td>
            </tr> 
         {% endif %}
        {% if page.taxonomies.tags %}
            <tr>
                <td>Tags</td>
                <td>
                    {% for tag in page.taxonomies.tags %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                    {% endfor %}
                </td>
            </tr> 
        {% endif %}
        {% if page.taxonomies.types %}
            {% for type in page.taxonomies.types %}
            &emsp;<a href="{{ get_taxonomy_url(kind="types", name=type) | safe }}">+{{ type }}</a>
            {% endfor %}
        {% endif %}
    </table>

</div>
  
{{ page.content | safe }}

{% endblock content %}
