{% extends "base.html" %}

{% block content %}

<h2>
  Showcase
</h2>

<p class="taxonomies_list">
    {% set categories = get_taxonomy(kind="types") %}
      {% for term in categories.items %}
          <a href="{{ term.permalink }}">+{{ term.name }}
          ({{ term.pages | length }})</a>&nbsp;
      {% endfor %}
    </ul>
</p>

<div class = "grid">
    {% for page in section.pages %}
        <div class="thumb">
            <a href="{{ page.permalink }}">
                <figure>
                    <img src="{{ page.permalink }}{{ page.extra.thumb }}">
                    <figcaption>
                        {{ page.title }}
                    </figcaption>
                </figure>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock content %}
